.carousel-item img {
    height: 85vh;
    object-fit: cover;
}

.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #1D1D1D;
    opacity: .7;
}

.carousel-caption {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.c-h2 {
    font-size: 3rem;
}

@media (max-width: 1024px) {
    .c-h2 {
        font-size: 2rem;
    }
}

@media (max-width: 767px) {
    .c-h2 {
        font-size: 1.5rem;
    }

    .carousel-item img {
        height: 350px;
        object-fit: cover;
    }


}